 <section class="section-3 container-fluid p-0 text-center">
     <div class="container text-white">
        <div class="col-md-12 col-sm-12">
        <h1>{{ content.field_section3_title }}</h1>
          <p>
              {{ content.field_section3_p }}
          </p>
        </div>
      </div>
      <div class="platform container">
       <div class="row">
        <div class="col-md-6 col-sm-12 text-right">
          <div class="desktop shadow-lg">
            <div class="d-flex flex-row justify-content-center">
              <i class="fas fa-desktop fa-3x py-2 pr-3"></i>
              <div class="text text-left">
                <h3 class="pt-1 m-0">{{ content.field_section3_h1 }}</h3>
                <p class="p-0 m-0">{{ content.field_section3_h5 }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 text-left">
          <div class="desktop shadow-lg">
            <div class="d-flex flex-row justify-content-center">
              <i class="fas fa-mobile-alt fa-3x py-2 pr-3"></i>
              <div class="text text-left">
                <h3 class="pt-1 m-0">{{ content.field_section3_h2 }}</h3>
                <p class="p-0 m-0">{{ content.field_section3_h6 }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>
    </section>
    
    
    
    
   
  
 


